name: Deploy Docs

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pages: write
  id-token: write

concurrency:
  group: documentation
  cancel-in-progress: false

jobs:
  dokka:
    name: Dokka Docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Java 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: corretto

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Dokka Generate with Gradle Wrapper
        run: ./gradlew :dokkaGenerate

      - name: Upload Dokka Docs to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/build/dokka/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
